@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/css/relax.css">
    <link rel="stylesheet" href="~/Content/css/see.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <section class="see-do-section">
        <div class="header-image">
            <h1 class=" header-title relaxtitle">Relax & Sleep</h1>
            <div><img class="" src="~/Content/Images/Vector (2).png" alt="Symbols"></div>
        </div>
        <div class="nav-links">
            <a href="#">In Focus</a>
            <a href="#">Activities</a>
            <a href="#">Tourist Attractions</a>
            <a href="#">Excursion</a>
            <a href="#">Shopping</a>
        </div>
    </section>
    <div class="container py-5 mainsection">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="summer-title">Foodie paradise</h2>
            </div>
            <p class="description-text">Diverse and innovative, Gyumri's culinary scene grows more exciting by the year.</p>
            <a href="#" class="see-more-link-black">See More<span class="arrow"> &#8702;</span></a>
            <div class="row card-container">
                <div class="col-md-3">
                    <div class="items">
                        <span class="category-tag art">Traditinal</span>
                        <img src="~/Content/Images/eat1.jpeg" class="card-img-top" alt="Gallery of Mariam and Eranuhi Aslamazyan Sisters">
                        <div class="card-body">
                            <h5 class="card-title">Museum Nights</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="items">
                        <span class="category-tag art">Drinks</span>
                        <img src="~/Content/Images/eat2.jpeg" class="card-img-top" alt="Hovhannes Shiraz Museum">
                        <div class="card-body">
                            <h5 class="card-title">Museum Nights</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="items">
                        <span class="category-tag art">Dessert</span>
                        <img src="~/Content/Images/eat3.jpeg" class="card-img-top" alt="Dzitoghtsyan Museum">
                        <div class="card-body">
                            <h5 class="card-title">Museum Nights</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="items">
                        <span class="category-tag art">Fast Food</span>
                        <img src="~/Content/Images/eat4.jpeg" class="card-img-top" alt="Dzitoghtsyan Museum">
                        <div class="card-body">
                            <h5 class="card-title">Museum Nights</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-1 ms-6">
        </div>
        <div class="section mb-1 ms-6">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="section-heading">Restaurants</h2>
            </div>
            <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="#" class="see-more-link-black">See More<span class="arrow"> &#8702;</span></a>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="~/Content/Images/rest1.jpeg" class="card-img-top" alt="Gyumri Drama Theatre">
                        <div class="card-body">
                            <h5 class="card-title">Gyumri Drama Theatre</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="~/Content/Images/rest2.jpeg" class="card-img-top" alt="Underground Art">
                        <div class="card-body">
                            <h5 class="card-title">Gyumri's Underground Art Spaces and Galleries</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="~/Content/Images/rest3.jpeg" class="card-img-top" alt="Gallery of Mariam">
                        <div class="card-body">
                            <h5 class="card-title">Gallery of Mariam and Eranuhi Aslamazyan Sisters</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section mb-1 ms-6">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="section-heading">Cafes</h2>
            </div>
            <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="#" class="see-more-link-black">See More<span class="arrow"> &#8702;</span></a>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="~/Content/Images/cafe1.jpeg" class="card-img-top" alt="Gyumri Drama Theatre">
                        <div class="card-body">
                            <h5 class="card-title">Gyumri Drama Theatre</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="~/Content/Images/cafe2.jpeg" class="card-img-top" alt="Underground Art">
                        <div class="card-body">
                            <h5 class="card-title">Gyumri's Underground Art Spaces and Galleries</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="~/Content/Images/cafe3.jpeg" class="card-img-top" alt="Gallery of Mariam">
                        <div class="card-body">
                            <h5 class="card-title">Gallery of Mariam and Eranuhi Aslamazyan Sisters</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="section mb-1 ms-6">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="section-heading">Bars & Nightlife</h2>
            </div>
            <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="#" class="see-more-link-black">See More<span class="arrow"> &#8702;</span></a>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="~/Content/Images/bar1.jpeg" class="card-img-top" alt="Gyumri Drama Theatre">
                        <div class="card-body">
                            <h5 class="card-title">Gyumri Drama Theatre</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="~/Content/Images/bar2.jpeg" class="card-img-top" alt="Underground Art">
                        <div class="card-body">
                            <h5 class="card-title">Gyumri's Underground Art Spaces and Galleries</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="~/Content/Images/bar3.jpeg" class="card-img-top" alt="Gallery of Mariam">
                        <div class="card-body">
                            <h5 class="card-title">Gallery of Mariam and Eranuhi Aslamazyan Sisters</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="~/Content/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/e8c2e1c09c.js" crossorigin="anonymous"></script>
</body>

</html>